html
head
	title PUG 연습
	maata(charset="utf-8")
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
	body
	if titleChk == "true"
	//- 퍼그 주석 -//
	.top.d-flex.justify-content-between.bg-dark.text-light.align-center.pr-3.pl-3
		.logo.pt-3 로고
		.navis.d-flex
			.navi.p-3 페이지1
			.navi.p-3 페이지2
			.navi.p-3 페이지3
			.navi.p-3 페이지4
	block content
	.footer.bg-dark.text-light.text-center.p-3 Copyright ⓒkjr