.top.d-flex.justify-content-between.bg-dark.text-light.align-center.pr-3.pl-3
	.logo.pt-3 
		a(href="/") 로고
	.navis.d-flex
		.navi.p-3
			a(href="/user/li") 회원리스트
		.navi.p-3 
			a(href="/user/wr") 회원등록